body {
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("https://wallpapers.com/images/hd/miku-nakano-background-5yscs49shkwf12ft.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: dodgerblue;
}