h1 {
    text-align: center;
}

.solido {
    border: 5px solid firebrick;
    border-width: 10px 5px;
}

.solido_2 {
    border: 3px solid;
    border-width: medium;
    border-color: gold green blue red
}

.solido_3 {
    border: 5px solid;
    border-width: medium;
    border-color: firebrick;
    border-radius: 15px;
}